@import "tailwindcss";
@plugin "daisyui";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

body,
textarea,
button,
input {
  font-family:
    "IBM Plex Sans",
    ui-sans-serif,
    system-ui,
    sans-serif;
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]) {
  cursor: pointer;
}
