services:
  searxng:
    image: docker.io/searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    ports:
      - "8888:8080"
    volumes:
      - ./config/settings.yml:/etc/searxng/settings.yml
      - ./data:/var/cache/searxng
